:root {
    --bg: #010101;
    --container-width: 35rem;
    --container-height: 22rem;
}

body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
     /* Ensure the body takes up the full viewport height */
    height: 65vh;
    background: var(--bg);
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%; /* Ensure the container takes up the full width */
    height: 100%; /* Ensure the container takes up the full height */
}

.container-carousel {
    display: flex;
    justify-content: center;
    align-items: center;
    width: var(--container-width);
    height: var(--container-height);
    perspective: 1000px;
}

.carousel {
    transform-style: preserve-3d;
    user-select: none;
    cursor: grab;
    transition: transform 0.5s ease; /* Smooth transition for rotation */
}

.carousel-item {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transform-style: preserve-3d;
    backface-visibility: hidden; /* Improve rendering performance */
}

.carousel-item img {
    display: block;
    max-width: 100%;
    height: 100%;
    object-fit: cover;
}

.carousel,
.carousel-item {
    width: 100%;
    height: 100%;
}

@media screen and (min-width: 476px) {
    .container-carousel {
        --widthItem: 16rem;
        --heightItem: 12.5rem;
    }
}


